<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="ErpServiceProvider"/>

    <dubbo:registry address="zookeeper://192.168.1.223:2181"/>
<!--
    <dubbo:registry address="zookeeper://192.168.1.145:2181"/>
-->

    <dubbo:protocol host="192.168.1.223" port="20880"/>

    <bean id="carService" class="com.zt.erp.service.Impl.CarServiceImpl"/>
    <bean id="fixOrderService" class="com.zt.erp.service.Impl.FixOrderServiceImpl"/>
    <bean id="loginService" class="com.zt.erp.service.Impl.LoginServiceImpl"/>
    <bean id="orderService" class="com.zt.erp.service.Impl.OrderServiceImpl"/>
    <bean id="partsService" class="com.zt.erp.service.Impl.PartsServiceImpl"/>
    <bean id="roleEmployeeService" class="com.zt.erp.service.Impl.RoleEmployeeServiceImpl"/>
    <bean id="rolePermissionService" class="com.zt.erp.service.Impl.RolePermissionServiceImpl"/>
    <bean id="typeService" class="com.zt.erp.service.Impl.TypeServiceImpl"/>
    
    <dubbo:service interface="com.zt.erp.service.CarService" ref="carService"/>
    <dubbo:service interface="com.zt.erp.service.FixOrderService" ref="fixOrderService"/>
    <dubbo:service interface="com.zt.erp.service.LoginService" ref="loginService"/>
    <dubbo:service interface="com.zt.erp.service.OrderService" ref="orderService"/>
    <dubbo:service interface="com.zt.erp.service.PartsService" ref="partsService"/>
    <dubbo:service interface="com.zt.erp.service.RoleEmployeeService" ref="roleEmployeeService"/>
    <dubbo:service interface="com.zt.erp.service.RolePermissionService" ref="rolePermissionService"/>
    <dubbo:service interface="com.zt.erp.service.TypeService" ref="typeService"/>

</beans>